{% extends 'base.html' %}

{% block title %}
    Login - Project Alpha
{% endblock title %}
{% block main %}
    <div>
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button method="submit">Login</button>
        </form>
    </div>
{% endblock main %}
