{% extends 'base.html' %}

{% block title %}
    Signup - Project Alpha
{% endblock title %}
{% block main %}
    <div>
        <h1>Signup</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button method="submit">Signup</button>
        </form>
    </div>
{% endblock main %}
