{% extends 'base.html' %}

{% block title %}
    Create a new task - Project Alpha
{% endblock title %}
{% block main %}
    <div>
        <h1>Create a new task</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button method="submit">Create</button>
        </form>
    </div>
{% endblock main %}
