{% extends "base.html" %}

{% block title %}
    Projects List - Project Alpha
{% endblock title %}
{% block main %}
    <div>
        <h1>My Projects</h1>
        <p>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </p>
        {% if projects %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                        </tr>
                        <tr>{{ project.tasks.count }}</tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You are not assigned to any projects</p>
        {% endif %}
    </div>
{% endblock main %}
