{% extends "base.html" %}

{% block title %}
    {{ project.name }} - Project - Project Alpha
{% endblock title %}
{% block main %}
    <div>
        <h1>{{ project.name }}</h1>
        <p>{{ project.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% if project.tasks.all %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </thead>
                <tbody>
                    {% for task in project.tasks.all %}
                        <tr>{{ task.name }}</tr>
                        <tr>{{ task.assignee }}</tr>
                        <tr>{{ task.start_date }}</tr>
                        <tr>{{ task.due_date }}</tr>
                        <tr>{{ task.is_completed|yesno }}</tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project has no tasks</p>
        {% endif %}
    </div>
{% endblock main %}
